---
import Layout from "../layouts/Layout.astro";
import Introduktion_section from "../components/Introduktion_section.astro";
import Citat from '../components/Citater.astro';
import Calendar from "../components/Calendar.astro";
---

<Layout title="Aktiviteter & Tilbud">
  
  <Introduktion_section
  title="Aktiviteter og tilbud"
  subtitle="Her kan du få et overblik over vores aktiviteter og fællesskaber."
  imgSrc="/imgs/aktiviteter.webp"
  imgAlt="Veteraner sidder og snakker"
>
<p><mark> Hos Veteranhjem Sjælland lægger vi stor vægt på fællesskab, nærvær og gode oplevelser.</mark>
</p>
  <p>
    Vi arrangerer løbende aktiviteter og events, hvor du som veteran, pårørende eller frivillig er varmt velkommen.
  </p>
    <p>
      Her er både plads til at deltage aktivt og bare være til stede, det vigtigste er, at du føler dig godt tilpas.
  </p>
</Introduktion_section>
  <Calendar />
  <Citat
  image="../imgs/citat_aktiviteter.webp"
  quote="Det er virkelig rart at være en del af noget igen. Aktiviteterne her giver struktur, fællesskab – og noget at glæde sig til."
  name="Jens, 54 år"
  title="veteran"
/>
</Layout>
