---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import Introduktion_section from "../components/Introduktion_section.astro";
import Button from "../components/Button.astro";
import YellowSection from "../components/Yellow_section.astro";
import Citat from '../components/Citater.astro';

---

<Layout title="Bliv Frivillig">
  <Menu />
  <Introduktion_section
  title="Bliv frivillig"
  subtitle="Gør en forskel, bliv frivillig hos os"
  imgSrc="/imgs/stoet.webp"
  imgAlt="Veteraner sidder og snakker"
>
<p><mark> Vil du bruge lidt af din tid på noget, der virkelig betyder noget?</mark>
</p>
  <p>
     Som frivillig på Veteranhjem Sjælland bliver du en del af et fællesskab, hvor nærvær, tryghed og menneskelige relationer er i centrum. Her er plads til dig og til det, du har lyst til at bidrage med.
Det handler ikke om at kunne det hele det handler om at være der.</p>
</Introduktion_section>
  <YellowSection title="Hvad kan du hjælpe med?" img="/imgs/testimg3.webp" imgAlt="Folk der spiller kort">
    <p>Du kan fx:</p>
    <ul>
      <li><p>Være med til at skabe hygge og ro i huset</p></li>
      <li><p>Hjælpe til ved fællesspisning eller arrangementer</p></li>
      <li><p>Lytte og være til stede for veteraner og pårørende</p></li>
      <li><p>Give en hånd med praktiske opgaver</p></li>
      <li><p>Dække vagter om aftenen eller i weekender</p></li>
    </ul>
    <p>Du bliver ikke kastet ud i det alene - vi sørger for en god introduktion og støtter dig undervejs.</p>
  </YellowSection>
  <Citat
  image="../imgs/citat_frivillig.webp"
  quote="Det giver så meget mening at være frivillig her. Bare det at være til stede og gøre hverdagen lidt lettere for en anden – det føles vigtigt."
  name="Karen, 34 år"
  title="frivillig"
/>
    <Footer />

</Layout>
