---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import Introduktion_section from "../components/Introduktion_section.astro";
---
  
  <Layout title="Kontakt os">
    <Menu />
    <Introduktion_section
    title="Kontakt os"
    subtitle="Her kan du finde information om, hvordan du kontakter os"
    imgSrc="/imgs/stoet.webp"
    imgAlt="Veteraner sidder og snakker"
  >
  <p><mark> Det kan være svært at tage det første skridt</mark>
  </p>
    <p>
      Vi ved godt, at det kan føles som et stort skridt at komme på veteranhjemmet første gang. Måske har du tænkt på det længe. Måske har du overvejet, om det overhovedet er noget for dig. Det er helt normalt.
    </p>
      <p><mark>Men du skal vide én ting: Du er ikke alene.</mark></p>
      <p>
  Hos os bliver du mødt med forståelse ikke spørgsmål. Du behøver ikke forklare noget. Du bestemmer selv, om du vil være stille, snakke, spise med, lytte eller bare kigge forbi.
  Langsomt sker det ofte helt af sig selv:
    </p>
    <p>
  Du bliver en del af fællesskabet. Du kender ansigterne. Du får en kop kaffe serveret uden at skulle bede om den.
    </p>
    <p><mark>Det føles som familie.</mark><br>
      Så hvis du sidder og overvejer det: Kom bare forbi eller kontakt os.</p>
  </Introduktion_section>
  

  <Footer />
</Layout>
