<section class="grid1_2" id="carouselTrack">
  <div>
    <h2>Et hyggeligt værested for dig og dine nærmeste</h2>
    <p>Hos Veteranhjem Slagelse møder du et trygt og imødekommende fællesskab, hvor der er plads til både ro og nærvær. Her kan du som veteran eller pårørende tage en pause fra hverdagen, deltage i fællesspisning, arrangementer og samtaler – eller bare være til.</p>
    <p>Vi er her for at lytte, støtte og skabe gode rammer for både store og små behov. Uanset om du kommer for første gang eller allerede er en del af fællesskabet, er du altid velkommen hos os.</p>
  </div>

  <div class="carousel">
    <div class="carousel_track">
      <img src="/imgs/slide1.webp" alt="Slide 1" />
      <img src="/imgs/slide2.webp" alt="Slide 2" />
      <img src="/imgs/slide3.webp" alt="Slide 3" />
      <img src="/imgs/slide4.webp" alt="Slide 4" />
      <img src="/imgs/slide5.webp" alt="Slide 5" />
    </div>
  </div>
</section>

<style>
  html {
    scroll-behavior: smooth;
  }

  .grid1_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: 40px;
    margin: 3rem auto;
  }

  h2 {
    font: var(--header2);
    color: var(--rolig);
  }

  .carousel {
    width: 100%;
    max-width: 650px;
    height: 400px;
    overflow: hidden;
    margin: auto;
    border-radius: 30px;
  }

  #carouselTrack {
    scroll-margin-top: 12rem;
  }

  .carousel_track {
    display: flex;
    height: 100%;
    animation: slide 15s infinite;
  }

  .carousel_track img {
    width: 100%;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
  }

  @keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    40% { transform: translateX(-100%); }
    45% { transform: translateX(-200%); }
    60% { transform: translateX(-200%); }
    65% { transform: translateX(-300%); }
    80% { transform: translateX(-300%); }
    85% { transform: translateX(-400%); }
    100% { transform: translateX(-400%); }
  }

  @media screen and (max-width: 800px) {
    .grid1_2 {
      grid-template-columns: 1fr;
      width: 90%;
      padding: 1rem;
      gap: 20px;
    }

    .carousel {
      height: 350px;
      margin: 2rem auto 0 auto;
    }

    #carouselTrack {
      scroll-margin-top: 8rem;
    }

    h2 {
      text-align: center;
      font: var(--header2Mobil);
    }

    p {
      font: var(--bodyMobil);
    }
  }
</style>
