---

---

<div class="opening-hours">
  <h4>Åbningstider</h4>
  <p>
    Mandag, tirsdag, torsdag og fredag:<br />
    kl. 10:00–16:00<br />
    Onsdag: kl. 10:00–20:00
  </p>
</div>

<style>
  .opening-hours h4 {
    font-weight: 700;
    margin-bottom: 0.25rem;
  }

  .opening-hours p {
    margin: 0;
  }
</style>
