---

---

<div class="social-icons">
  <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Facebook">
    <img src="../imgs/facebook_icon.svg" alt="Facebook icon" />
  </a>
  <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Instagram">
    <img src="../imgs/instagram_icon.svg" alt="Instagram icon" />
  </a>
</div>

<style>
.social-icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.social-icons img {
  width: 2.5rem;
  height: 2.5rem;
}
</style>
